.header {
  height: 400px;

  &__background {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      height: 400px;
      width: 100%;
      opacity: .2;
      filter: blur(3px);
    }
  }

  &__logo {
    height: 80px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    position: relative;
  }
}

.form-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
}