.header {
  height: 400px;

  &__background {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      height: 400px;
      width: 100%;
      opacity: .2;
      filter: blur(3px);
    }
  }

  &__logo {
    height: 80px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    position: relative;
  }
}